apiVersion: "nais.io/v1alpha1"
kind: "Application"

metadata:
  name: burde-forstatt
  namespace: tilbake
  annotations:
    nais.io/run-as-group: "65532" # nonroot https://github.com/GoogleContainerTools/distroless/issues/443
    nais.io/run-as-user: "65532" # nonroot https://github.com/GoogleContainerTools/distroless/issues/443
    texas.nais.io/enabled: "true"
  labels:
    team: tilbake
spec:
  envFrom:
    - secret: burde-forstatt
  image: {{ image }}
  port: 8080
  liveness:
    path: /liveness
    initialDelay: 10
    failureThreshold: 10
  readiness:
    path: /readiness
    initialDelay: 10
    failureThreshold: 10
  replicas:
    min: 1
    max: 2
  resources:
    limits:
      memory: 512Mi
    requests:
      memory: 512Mi
      cpu: 25m
  ingresses:
    - https://burde-forstatt.ansatt.dev.nav.no/api
  azure:
    application:
      enabled: true
      tenant: trygdeetaten.no
      allowAllUsers: true
      replyURLs:
        - http://localhost:4000/api/oauth2/callback
    sidecar:
      enabled: true
  accessPolicy:
    outbound:
      rules:
        - application: tilbakekreving-backend
      external:
        - host: b27apvl220.preprod.local
          ports:
            - port: 1413
  env:
    - name: POST_LOGIN_REDIRECT_URL
      value: /
    - name: LOG_FORMAT
      value: JSON
    - name: MQ_GAMMEL_MODELL
      value: QA.Q1_FAMILIE_TILBAKE.KRAVGRUNNLAG
    - name: MQ_NY_MODELL
      value: Q1_TILLEGGSSTONADER.KRAVGRUNNLAG